*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
   
.categoria-titulo{
    padding: 20px;
    color: #fff;
    font-weight: 600;
    
}
section{
    display: flex;
    
}
.item img{
    width: 100%;
    border: #fff solid 1px;
    
    
    
}
.item img:hover{
    cursor: pointer;
    border: 5px solid red;
    cursor: pointer;
}

/*lista 2*/
.secao-titulo{
    opacity: 0.8;
    color: #fff;
    width: 400;
    padding: 10px;
    background: linear-gradient(#000000, #393E46 ,#181818);
}
.secao img{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    border: #fff solid 1px;
}
.secao img:hover{
    border: 5px solid red;
    cursor: pointer;
    
}

/*lista3*/

.secao-est img{
    display: flex;
    width: 100%;
    border: #fff solid 1px;

}
.titulo-est{
    color: #fff;
    background: linear-gradient(#000000, #393E46 ,#181818);
    padding: 20px;
}
.secao-est img:hover{
    border: 5px solid red;
    -ms-zoom-animation: 50%;
    cursor: pointer;

}
/*lista 4*/
.secao-4 img{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    border: #fff solid 1px;
}
.titulo-serie{
    color: #fff;
    background: linear-gradient(#000000, #393E46 ,#181818);
    padding: 20px;
}

.secao-4 img:hover{
    border: 5px solid red;
    -ms-zoom-animation: 50%;
    cursor: pointer;
    
}